@import url("~reset.css");

$baseColor: #a432c5;
html,
body{
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	border:none;
}
#wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5em;
	font-family: sans-serif;
	width:100%;
	height:100%;
}
h1 {
	padding-top: 30px;
	margin-bottom: 50px;
	color: #23209d;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.desc {
	padding-bottom: 30px;
	margin-top: 50px;
	text-align: center;
	font-size: 10px;
	&,
	a {
		color: #e2e2e2;
	}
	a:hover {
		color: #AA669F;
	}
}

.clock {
	position: relative;
	box-sizing: border-box;
	border-radius: 50%;
	opacity: 0;
	flex-shrink: 0;
	&.is--shown {
		opacity: 1;
		transition: opacity 0.3s;
	}
	.cover {
		position: absolute;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 5px solid #000000;
		box-sizing: border-box;
		border-radius: 50%;
	}
}
.hand {
	position: absolute;
	background: url(/images/katamuki.png) 0 0 no-repeat;
	background-size: 100%;
	left: 50%;
	top: 50%;
	transform-origin: 50% 50%;
	will-change: transform;
	border-radius: 50%;
	overflow: hidden;
	transition: transform 0.1s ease-in 0s;
	&.noTransition {
		transition: none;
	}
	&.hand--hour {
		z-index: 500;
	}
	&.hand--min {
		z-index: 300;
		opacity: 0.8;
	}
	&.hand--sec {
		z-index: 100;
	}
}

@media screen and (min-width: 751px) {
	h1 {
		font-size: 38px;
	}

	$clockSize: 750px;
	.clock {
		width: $clockSize;
		height: $clockSize;
	}
	.hand--hour {
		$handSize: $clockSize * 0.35;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
	.hand--min {
		$handSize: $clockSize * 0.6;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
	.hand--sec {
		$handSize: $clockSize * 1;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
}

@media screen and (max-width: 750px) {
	h1 {
		font-size: 42px;
	}
	$clockSize: 650px;
	.clock {
		width: $clockSize;
		height: $clockSize;
	}
	.hand--hour {
		$handSize: $clockSize * 0.35;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
	.hand--min {
		$handSize: $clockSize * 0.6;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
	.hand--sec {
		$handSize: $clockSize * 1;
		$margin: $handSize * -0.5;
		width: $handSize;
		height: $handSize;
		margin-left: $margin;
		margin-top: $margin;
	}
}
