//- vars
block vars
doctype html
html(lang='ja')
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
		title CCO時計
		meta(name="viewport" content='width=750,user-scalable=yes')
		meta(name="format-detection", content="telephone=no")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115478883-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-115478883-1');
		//- CSS Setting
		block link
			link(rel='stylesheet', href="./css/style.css")
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:100")

	body#g(class=bodyClass)
		script
			| var isPC = true;
			| (function () { if (navigator.userAgent.toLowerCase().match(/iphone|ipad|android/)) { document.body.classList.add('sp');isPC=false;return; } document.body.classList .add('pc'); })();
		//block body
		#wrapper
			h1 Iwanaga Fam Clock
			#clock.clock
				#hand--hour.hand.hand--hour
				#hand--min.hand.hand--min
				#hand--sec.hand.hand--sec
				.cover
			.desc
				p 肖像権はいちから株式会社&nbsp;
					a(href="https://twitter.com/iwataiki", target="_blank", rel="noopener") @iwataiki
					|氏に所属します
				p お問い合わせは
					a(href="https://twitter.com/niltea_vt", target="_blank", rel="noopener") こちらの凛famおじさん
					|へ

//- script(src='/js/libs.js')
script(src='./js/app.js')

block script