/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}#wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5em;
  font-family: sans-serif; }

h1 {
  margin-bottom: 50px;
  color: #23209d;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

.desc {
  margin-top: 50px;
  text-align: center;
  font-size: 10px; }
  .desc,
  .desc a {
    color: #e2e2e2; }
  .desc a:hover {
    color: #AA669F; }

.clock {
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0; }
  .clock.is--shown {
    opacity: 1;
    transition: opacity 0.3s; }
  .clock .cover {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50%; }

.clock {
  width: 500px;
  height: 500px; }

.hand {
  position: absolute;
  background: url(/images/katamuki.png) 0 0 no-repeat;
  background-size: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  will-change: transform;
  border-radius: 50%;
  overflow: hidden;
  transition: -webkit-transform 0.1s ease-in 0s;
  transition: transform 0.1s ease-in 0s;
  transition: transform 0.1s ease-in 0s, -webkit-transform 0.1s ease-in 0s; }
  .hand.noTransition {
    transition: none; }
  .hand.hand--hour {
    width: 175px;
    height: 175px;
    margin-left: -87.5px;
    margin-top: -87.5px;
    z-index: 500; }
  .hand.hand--min {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 300;
    opacity: 0.8; }
  .hand.hand--sec {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    z-index: 100; }

@media screen and (min-width: 751px) {
  h1 {
    font-size: 38px; } }

@media screen and (max-width: 750px) {
  h1 {
    font-size: 42px; } }
